<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nsbmassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NSBMAssist">
        <activity
            android:name=".Activity.Transport.TransDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transport.TransViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transport.AdminTransEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EveCal.EveCalViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EveCal.EveCalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EveCal.AdminEveCalEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SCEvents.ScViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SCEvents.ScDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SCEvents.AdminSCEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RCTimeTable.RcViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RCTimeTable.RcDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RCTimeTable.AdminRCEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foe.FoeViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foe.FoeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foe.AdminFoeEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fob.FobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fob.AdminFobEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Fob.FobViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foc.FocDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foc.FocViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Foc.AdminFocEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LogAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LecHallActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>